@import "src/assets/scss/styles.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Leroy Merlin Font";
  font-size: 1rem;
  line-height: 1.58;
  color: #333;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Leroy Merlin Font Bold";
  margin-top: 20px;
  margin-bottom: 5%;
}
h1 {
  font-size: 1.7em;
}

button {
  align-content: center;
  box-shadow: none;
  border: 1px solid transparent;
  font-size: 14px;
  outline: none;
  line-height: 100%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  min-height: 38px;
}

input {
  font-family: "Leroy Merlin Font Bold";
  font-size: 100%;
  color: #555555;
}


/*

select {
  flex-direction: column;
  font-family: "Leroy Merlin Font Bold";
  font-size: 100%;
  width: 100%;
  height: 100%;
  margin: 1%;
  padding-left: 15px;
  color: #555555;
  cursor: pointer;
}
button {
  font-family: "Leroy Merlin Font";
  width: auto;
  height: 100%;
  margin: 1%;
  padding-left: 15px;
  color: #555555;
  cursor: pointer;
}
*/
.mat-radio-button /*~ .mat-radio-button*/ {
  font-size: 80%;
  margin-left: 16px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #7cb220;
}

mat-form-field {
  margin-right: 12px;
}

img
{
  float: left;
  width: 50%;
}

button {
  text-align:center;
  font-family: "Leroy Merlin Font";
  width: auto;
  height: 100%;
  margin: 2%;
  color: #ffffff;
  background-color: #7cb220;
  cursor: pointer;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.container {
  display: flex; /* or inline-flex */
}
.logo{
  text-align: center;
  margin:0;
  padding: 0;
}

table, th{
  font-family: "Leroy Merlin Font";
  text-align: center;
  padding : 2%;
}

tr{
  text-align: center;
  padding: 10% 0;
  border-bottom: solid 1px #7cb220;
}

.total-price{
  padding : 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-tva-reduce-effected, .display-tva-inter-effected, .display-tva-normal-effected{
  color : #7cb220;
  font-family: "Leroy Merlin Font Bold";
}
.display-tva-reduce-not-effected, .display-tva-inter-not-effected, .display-tva-normal-not-effected{
  font-family: "Leroy Merlin Font";
}

.mat-form-field {
  margin-right: 8px;
}



