@font-face {
  font-family : 'LeroyMerlin';
  src         : url("src/assets/fonts/default/LeroyMerlinSans-Web-Light.ttf") ;
  font-weight : 300;
  font-style  : normal;
}


@font-face {
  font-family : 'LeroyMerlin';
  src         : url("src/assets/fonts/default/LeroyMerlinSans-Web-Regular.ttf") ;
  font-weight : 400;
  font-style  : normal;
}

@font-face {
  font-family : 'LeroyMerlin';
  src         : url("src/assets/fonts/default/LeroyMerlinSans-Web-SemiBold.ttf") ;
  font-weight : 600;
  font-style  : normal;
}

@font-face {
  font-family : 'LeroyMerlin';
  src         : url("src/assets/fonts/default/LeroyMerlinSans-Web-LightItalic.ttf") ;
  font-weight : 300;
  font-style  : italic;
}

@font-face {
  font-family : 'LeroyMerlin';
  src         : url("src/assets/fonts/default/LeroyMerlinSans-Web-Italic.ttf") ;
  font-weight : 400;
  font-style  : italic;
}

@font-face {
  font-family : 'LeroyMerlin';
  src         : url("src/assets/fonts/default/LeroyMerlinSans-Web-SemiBoldItalic.ttf") ;
  font-weight : 600;
  font-style  : italic;
}
